/nbproject/*
#.htaccess
1.htaccess
*.pem
*.crt
*.pub
*.key

/web/uploads/performance_data/*
!/web/uploads/performance_data/.gitkeep

/web/uploads/apn/*
!/web/uploads/apn/.gitkeep

/web/uploads/problemmgmt_doc/*
!/web/uploads/problemmgmt_doc/.gitkeep

/web/uploads/trainning/*
!/web/uploads/trainning/.gitkeep

/web/uploads/ticket_data/*
!/web/uploads/ticket_data/.gitkeep

/web/uploads/organization/*
!/web/uploads/organization/.gitkeep

/web/uploads/vacation/*
!/web/uploads/vacation/.gitkeep

/web/uploads/shift_data/*
!/web/uploads/shift_data/.gitkeep

/web/uploads/change_management/*
!/web/uploads/change_management/.gitkeep

/web/uploads/oil_tracker/*
!/web/uploads/oil_tracker/.gitkeep

/web/uploads/sample_files/*
!/web/uploads/sample_files/vacation_2016.xls

/web/uploads/pat_compliance_tracker/*
!/web/uploads/pat_compliance_tracker/.gitkeep

/web/uploads/technical_document/*
!/web/uploads/technical_document/.gitkeep

/web/uploads/technical_document_alias/*
!/web/uploads/technical_document_alias/.gitkeep

/web/uploads/link_management/*
!/web/uploads/link_management/.gitkeep

/stc-my-view
/beta
/mobility
/web/assets/
/web/uploads/kyc/
/web/uploads/